@use './variable.module' as vars;

.nav--container {
  margin-top: vars.$space-small;
  max-width: vars.$container-width-larger;
  margin-inline: auto;

  justify-content: space-between;
  align-items: center;

  .right--container {
  }
  .left--container {
    display: flex;
    gap: vars.$padding-xl;
    align-items: center;
  }
}

.mobile--nav__container,
.dashboard--mobile__nav__container {
  position: relative;
  justify-content: space-between;

  width: 95%;
  margin-inline: auto;
  z-index: 1;

  .menu--btn__container {
    background-color: vars.$color-primary--lighter;
    width: vars.$font-size-36;
    height: vars.$font-size-36;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: vars.$font-size-20;
      height: vars.$font-size-20;

      filter: invert(17%) sepia(92%) saturate(4076%) hue-rotate(245deg)
        brightness(97%) contrast(94%);
    }
  }

  .menu--container {
    .menu--top__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .menu--container.open {
    transform: translateX(0);
  }

  .close--btn__container {
    cursor: pointer;

    img {
      width: vars.$font-size-24;
      height: vars.$font-size-24;

      filter: invert(17%) sepia(92%) saturate(4076%) hue-rotate(245deg)
        brightness(97%) contrast(94%);
    }
  }

  .menu--container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-inline: vars.$padding-lg;
    background-color: white;
    // box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%); // Hide menu offscreen initially
    transition: transform 0.3s ease-in-out;

    &.open {
      transform: translateX(0); // Slide in
    }
  }

  .menu--btn__container,
  .close--btn__container {
    cursor: pointer;
  }
}

.blue--border--btn {
  border: 1px solid vars.$color-primary;

  p {
    color: vars.$color-primary;
  }
  //   TODO: Hover state of button
}

.blue--btn__container {
  background-color: vars.$color-primary;

  p {
    color: #fff;
  }
  //   TODO: Hover state of button
}

.blue--btn__container,
.blue--border--btn {
  padding-block: vars.$padding-sm;
  padding-inline: vars.$padding-lg;

  border-radius: 8px;

  // display: flex;

  p {
    margin: auto;
  }

  //   TODO: Hover state of button
}

.blue--btn__container.blue-btn__with--dots {
  padding-block: 0;
  height: vars.$font-size-44;
}

.form--input__container {
  margin-bottom: vars.$padding-lg;
  display: flex;
  flex-direction: column;

  input {
    border: 2px solid #eae9e99c;
    border-radius: 8px;
    padding: vars.$padding-sm;
    width: 100%;

    outline: none;
    font-family: 'manropeMedium', 'manropeMedium Fallback';
  }
}

.footer--section__container {
  .top--footer__container {
    background-color: #f8f8f8;

    padding-block: vars.$padding-5xl;
    margin-top: vars.$padding-5xl;

    .top--footer__contents {
      margin: auto;

      display: flex;
      justify-content: space-between;
      align-items: center;

      @include vars.top-container;
    }

    .top--footer--left__container {
      width: 45%;
    }

    .top--footer--right__container {
      display: flex;
      gap: vars.$padding-lg;
    }
  }

  .bottom--footer__container {
    background-color: #f4f7fa;
    padding-block: vars.$padding-5xl;

    .bottom--footer__content {
      margin: auto;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @include vars.top-container;
      .bottom--footer__content--left {
        width: 40%;

        img {
          margin-bottom: vars.$padding-xl;
        }
      }

      .bottom--footer__content--right {
        display: flex;
        flex-direction: column;

        .bottom--footer__content--right--top {
          display: flex;
          gap: vars.$padding-3xl;
          margin-bottom: vars.$padding-xl;
        }

        .bottom--footer__content--right--bottom {
          display: flex;
          gap: vars.$padding-lg;
          margin-left: auto;
        }
      }
    }
  }
}

.ready--to__join {
  width: 45%;
  margin-bottom: vars.$padding-4xl;

  h2 {
    font-size: vars.$font-size-36;
  }

  p {
    font-size: vars.$font-size-18;
  }
}

/* Dropdown.css */
.dropdown {
  width: 100%;
  position: relative;
  cursor: pointer;

  // margin-bottom: vars.$padding-xl;

  .dropdown-select {
    display: flex;
    justify-content: space-between;

    border: 2px solid #eae9e99c;
    border-radius: 8px;
    padding: vars.$padding-sm;
  }

  .dropdown-menu {
    position: absolute;
    max-height: 150px;
    overflow-y: auto;

    top: 100%;
    left: 0;
    right: 0;

    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .dropdown-option {
    padding: 10px;

    background-color: #ffffff;
    transition: background-color 0.3s;
  }

  .dropdown-option:hover {
    background-color: #f0f0f0;
  }

  .dropdown-option:active {
    color: #ffffff;
  }
}

.config--dropdown {
  display: flex;
  justify-content: space-between;
  align-content: center;

  flex-direction: column;
  width: 100%;
  cursor: pointer;
  position: relative;

  // padding-inline: vars.$padding-lg;
  // padding-block: vars.$padding-sm;

  .dropdown-select {
    display: flex;
    justify-content: space-between;

    .dropdown--icon {
      position: absolute;
      right: 12px;
    }
  }

  .dropdown-menu {
    // position: absolute;
    margin-left: vars.$padding-xs;

    margin-top: vars.$padding-md;
    display: flex;
    flex-direction: column;
    gap: vars.$padding-sm;
  }

  .dropdown-option {
    padding-inline: vars.$padding-lg;
    padding-block: vars.$padding-sm;

    p {
      font-size: vars.$font-size-16;
      width: 80%;
      color: #747a80;
    }
  }
}

.config--li {
  img {
    align-self: center;
  }

  a {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;

    p {
      font-size: vars.$font-size-16;
      width: 80%;
      color: #747a80;
    }
  }
}

.config--li.active {
  .dropdown-option {
    .active {
      img {
        filter: invert(9%) sepia(95%) saturate(7226%) hue-rotate(252deg)
          brightness(82%) contrast(127%);
      }

      p {
        color: vars.$color-primary;
      }
    }
  }

  .dropdown-select {
    background-color: #e8e8e8;

    .config--text {
      color: #333333;
    }
  }

  .config--image {
    filter: invert(9%) sepia(95%) saturate(7226%) hue-rotate(252deg)
      brightness(82%) contrast(127%);
  }
}

.dashboard--nav__container {
  min-height: 100vh;
  // overflow-y: auto;

  width: 23vw;
  position: fixed;

  background-color: #f5f5f5;

  // padding-inline: vars.$padding-lg;
  padding-block: vars.$padding-xxl;

  .dashboard--top__container {
    overflow-y: auto;
    max-height: 100vh;

    display: flex;

    flex-direction: column;
    justify-content: space-between;

    ul {
      // height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: vars.$padding-md;

      margin-bottom: vars.$padding-6xl;

      li {
        p {
          font-size: vars.$font-size-16;
          color: #747a80;
          width: 80%;
        }

        img {
          filter: invert(51%) sepia(7%) saturate(375%) hue-rotate(169deg)
            brightness(92%) contrast(88%);
        }
      }

      li,
      .first--level__nav.active {
        display: flex;
        justify-content: space-between;
        align-content: center;

        padding-inline: vars.$padding-lg;
        padding-block: vars.$padding-sm;
      }

      .first--level__nav.active {
        background-color: #e8e8e8;

        img {
          filter: invert(9%) sepia(95%) saturate(7226%) hue-rotate(252deg)
            brightness(82%) contrast(127%);
        }

        p {
          color: #333333;
        }
      }
    }
  }
}

.dashboard--mobile__nav__container {
  .menu--container {
    overflow-y: auto;
    padding-bottom: vars.$padding-xl;
  }
}

.dashboard--mobile__nav__container {
  ul {
    li {
      display: flex;
      justify-content: space-between;
      align-content: center;

      img {
        filter: invert(51%) sepia(7%) saturate(375%) hue-rotate(169deg)
          brightness(92%) contrast(88%);
      }

      p {
        font-size: vars.$font-size-16;
        color: #747a80;
        width: 92%;
      }
    }

    li,
    li.active {
      display: flex;
      justify-content: space-between;
      align-content: center;

      padding-inline: vars.$padding-lg;
      padding-block: vars.$padding-sm;
    }

    li.active {
      background-color: #e8e8e8;

      img {
        filter: invert(9%) sepia(95%) saturate(7226%) hue-rotate(252deg)
          brightness(82%) contrast(127%);
      }

      p {
        color: #333333;
      }
    }
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  margin: auto;
}
@keyframes l5 {
  0% {
    box-shadow: 15px 0 #e6eaff, -15px 0 #8981f0;
    background: #e6eaff;
  }
  33% {
    box-shadow: 15px 0 #e6eaff, -15px 0 #8981f0;
    background: #8981f0;
  }
  66% {
    box-shadow: 15px 0 #8981f0, -15px 0 #e6eaff;
    background: #8981f0;
  }
  100% {
    box-shadow: 15px 0 #8981f0, -15px 0 #e6eaff;
    background: #e6eaff;
  }
}

.not--a__form--input {
  border: 2px solid #eae9e99c;
  border-radius: 8px;
  padding: vars.$padding-sm;
  width: 100%;
}

.action--feedback__container {
  margin: auto;

  width: 30%;
  z-index: 10;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ************************************** //
// *****       MEDIA QUERIES        ***** //
// ************************************** //
// ************************************** //
// *****     1300PX BREAKPOINT      ***** //
// ************************************** //

@media (max-width: 82em) {
  .dashboard--nav__container {
    width: 25vw;
  }
}

// ************************************** //
// *****     1200PX BREAKPOINT      ***** //
// ************************************** //

@media (max-width: 75em) {
  .nav--container {
    max-width: 62.5rem;
  }

  .ready--to__join {
    width: 40%;
  }

  .action--feedback__container {
    width: 40%;
  }
}
// ************************************** //
// *****     1000PX BREAKPOINT      ***** //
// ************************************** //
@media (max-width: 63em) {
  .nav--container {
    max-width: 56.25rem;
  }

  .dashboard--nav__container {
    width: 32vw;
  }
}

// ************************************** //
// *****     900PX BREAKPOINT      ***** //
// ************************************** //

@media (max-width: 56.25em) {
  .nav--container {
    max-width: 43.75rem;
  }

  .footer--section__container {
    .top--footer__container {
      .top--footer__contents {
        flex-direction: column;
        gap: vars.$padding-lg;

        .top--footer--left__container {
          width: 100%;
        }

        .top--footer--right__container {
          width: 100%;
          gap: vars.$padding-lg;
        }
      }
    }

    .bottom--footer__container {
      .bottom--footer__content {
        flex-direction: column;

        .bottom--footer__content--left {
          width: 100%;

          margin-bottom: vars.$padding-xl;

          img {
            margin-bottom: vars.$padding-base;
          }
        }

        .bottom--footer__content--right {
          .bottom--footer__content--right--top {
            flex-direction: column;
            gap: vars.$padding-base;
          }

          //   .bottom--footer__content--right--bottom {
          //     flex-direction: column;
          //     gap: vars.$padding-lg;
          //   }
        }
      }
    }
  }

  .ready--to__join {
    width: 100%;
    text-align: center;
    margin-bottom: 0;

    p {
      font-size: vars.$font-size-16;
    }
  }
}

// ************************************** //
// *****     800PX BREAKPOINT      ***** //
// ************************************** //
@media (max-width: 800px) {
  .dashboard--nav__container {
    display: none;
  }

  .dashboard--mobile__nav__container {
    display: block;
  }

  .config--li {
    a {
      p {
        width: 92%;
      }
    }
  }

  .config--dropdown {
    .dropdown-option {
      p {
        width: 92%;
      }
    }
  }

  .action--feedback__container {
    width: 50%;
  }
}

// ************************************** //
// *****     700PX BREAKPOINT      ***** //
// ************************************** //
@media (max-width: 43.75em) {
  .form--input__container {
    margin-bottom: vars.$padding-md;
  }

  .ready--to__join {
    h2 {
      font-size: vars.$font-size-30;
    }
  }

  .action--feedback__container {
    width: 65%;
  }
}

// ************************************** //
// *****     500PX BREAKPOINT      ***** //
// ************************************** //
@media (max-width: 31.25em) {
  .dashboard--mobile__nav__container {
    ul {
      li {
        p {
          width: 87%;
        }
      }
    }
  }

  .config--li {
    a {
      p {
        width: 87%;
      }
    }
  }

  .config--dropdown {
    .dropdown-option {
      p {
        width: 87%;
      }
    }
  }

  .action--feedback__container {
    width: 90%;
  }
}
