@use './variable.module' as vars;

.home--container {
  padding-top: vars.$space-large;

  .hero--container {
    margin-inline: auto;
    max-width: 56rem;

    h1 {
      font-size: vars.$font-size-xlarge;
    }

    h6 {
      width: 75%;
      font-size: vars.$font-size-18;
    }

    h6,
    p {
      margin-inline: auto;
    }

    h1,
    p,
    h6 {
      text-align: center;
    }

    .button--container {
      display: flex;
      width: 100%;

      justify-content: center;
      gap: vars.$padding-lg;
    }
  }

  .introduction--section__container {
    width: 100%;

    background-color: vars.$color-primary-light;
    padding-block: vars.$padding-4xl;

    .introduction--section__contents {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include vars.top-container;

      .right--container {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: vars.$padding-xl;

        h2 {
          font-size: vars.$font-size-36;
        }
      }

      a {
        margin-right: auto;
      }

      .left--container {
        width: 45%;
        display: flex;

        img {
          margin-left: auto;
        }
      }
    }
  }

  .features--section__container {
    margin-block: vars.$padding-5xl;
    text-align: center;

    // display: flex;
    // flex-direction: column;
    // gap: vars.$padding-lg;

    h2 {
      font-size: vars.$font-size-36;
    }

    h6 {
      font-size: vars.$font-size-18;
    }

    .features--container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: vars.$padding-lg;

      @include vars.top-container;
      .left--container {
        width: 45%;
      }

      .right--container {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: vars.$padding-lg;

        .feature--container {
          display: flex;
          gap: vars.$padding-lg;

          .feature--left__container {
            span {
              background-color: #e6eaff;
              border-radius: 50%;
              width: vars.$font-size-36;
              height: vars.$font-size-36;

              display: flex;
              align-items: center;
              justify-content: center;

              p {
                color: vars.$color-primary;
                font-size: vars.$font-size-16;
              }
            }
          }

          .feature--right__container {
            display: flex;
            flex-direction: column;
            gap: vars.$padding-sm;

            text-align: left;
          }
        }
      }
    }
  }

  .faqs--section__container {
    padding-top: vars.$padding-5xl;

    @include vars.top-container;
    h2 {
      font-size: vars.$font-size-36;
      text-align: center;
      margin-bottom: vars.$padding-xl;
    }

    .faqs--container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      row-gap: vars.$padding-lg;
      column-gap: vars.$padding-6xl;

      .faq--container {
        display: flex;
        justify-content: space-between;

        .faq--question__icon {
          background-color: vars.$color-secondary;
          border-radius: 50%;
          width: vars.$font-size-36;
          height: vars.$font-size-36;

          display: flex;
          align-items: center;
          justify-content: center;

          p {
            color: vars.$color-text;
            margin: auto;
          }
        }

        .faq--left__container {
          width: 85%;
        }
      }
    }
  }
}

.pricing--plans__container {
  // padding-top: vars.$padding-5xl;

  @include vars.top-container;
  img {
    width: vars.$font-size-20;
  }

  h2,
  h6 {
    text-align: center;
  }

  h2 {
    font-size: vars.$font-size-36;
  }

  h6 {
    font-size: vars.$font-size-18;
    width: 50%;
    margin-inline: auto;
  }

  .pricing--plan__container {
    display: flex;
    justify-content: space-between;
    margin-top: vars.$padding-lg;

    .pricing--plan {
      width: 30%;
      padding: vars.$padding-xl;
      border-radius: 12px;

      box-shadow: 0px 0px 10px 0px rgba(71, 59, 240, 0.1);
    }
  }
}

// ************************************** //
// *****       MEDIA QUERIES        ***** //
// ************************************** //

// ************************************** //
// *****     1200PX BREAKPOINT      ***** //
// ************************************** //
@media (max-width: 80em) {
  .pricing--plans__container {
    .pricing--plan__container {
      .pricing--plan__logged--in {
        width: 55%;
        align-self: center;
      }
    }
  }
}

// ************************************** //
// *****     900PX BREAKPOINT      ***** //
// ************************************** //
@media (max-width: 56.25em) {
  .home--container {
    .introduction--section__container {
      .introduction--section__contents {
        flex-direction: column;

        .right--container {
          width: 100%;
        }
      }
    }

    .features--section__container {
      .features--container {
        flex-direction: column-reverse;

        .left--container {
          width: 100%;

          img {
            margin: auto;
          }
        }

        .right--container {
          width: 100%;
        }
      }
    }

    .faqs--section__container {
      .faqs--container {
        display: flex;
        flex-direction: column;

        .faq--container {
          .faq--left__container {
            width: 90%;
          }
        }
      }
    }
  }

  .pricing--plans__container {
    .pricing--plan__container {
      flex-direction: column;
      gap: vars.$padding-xl;

      .pricing--plan {
        width: 50%;
        margin: auto;
      }

      .pricing--plan__logged--in {
        width: 75%;
      }
    }
  }
}

// ************************************** //
// *****     700PX BREAKPOINT      ***** //
// ************************************** //
@media (max-width: 43.75em) {
  .home--container {
    padding-top: vars.$padding-3xl;

    .hero--container {
      h1 {
        font-size: vars.$font-size-36;
      }
    }

    .introduction--section__container {
      .introduction--section__contents {
        .right--container {
          h2 {
            font-size: vars.$font-size-30;
          }
        }
      }
    }

    .features--section__container {
      h2 {
        font-size: vars.$font-size-30;
      }
    }

    .faqs--section__container {
      h2 {
        font-size: vars.$font-size-30;
      }

      .faqs--container {
        .faq--container {
          gap: vars.$padding-md;

          .faq--left__container {
            width: 100%;
          }
        }
      }
    }
  }

  .pricing--plans__container {
    h2 {
      font-size: vars.$font-size-30;
    }

    h6 {
      width: 100%;
    }

    .pricing--plan__container {
      .pricing--plan,
      .pricing--plan__logged--in {
        padding: vars.$padding-lg;
        width: 70%;
      }
    }
  }
}

// ************************************** //
// *****     500PX BREAKPOINT      ***** //
// ************************************** //
@media (max-width: 31.25em) {
  .home--container {
    .hero--container {
      h1 {
        font-size: vars.$font-size-30;
      }

      h6 {
        width: 100%;
      }
    }
  }

  .pricing--plans__container {
    .pricing--plan__container {
      .pricing--plan,
      .pricing--plan__logged--in {
        width: 100%;
      }
    }
  }
}
