@use './variable.module' as vars;

.report--table {
  margin-bottom: vars.$padding-5xl;

  thead {
    tr {
      background: #f1f1f1;
      border-bottom: 4px solid white;
    }
  }

  tbody {
    tr {
      background: #fafafa;
      border-bottom: 2px solid white;
    }
  }

  th,
  td {
    font-size: vars.$font-size-14;
    padding-block: vars.$padding-base;
    text-align: center;
    border: 1px solid white;
  }
}

.report--items {
  display: none;
}

.reset--user__password {
  margin: auto;

  width: 40%;
  z-index: 10;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ************************************** //
// *****       MEDIA QUERIES        ***** //
// ************************************** //
// ************************************** //
// *****     1008PX BREAKPOINT      ***** //
// ************************************** //

@media (max-width: 63em) {
  .report--table {
    display: none;
  }

  .report--items {
    display: flex;
    flex-direction: column;
    gap: vars.$padding-base;

    padding-bottom: vars.$padding-6xl;

    .report--item {
      position: relative;
      width: 90%;
      margin-inline: auto;

      padding: vars.$padding-base;
      background-color: #e8e8e8;

      border-radius: 12px;
      cursor: pointer;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: vars.$padding-sm;
      align-items: center;

      img {
        object-fit: contain;
        width: 18px;
        height: 18px;
        align-self: center;
      }
    }
  }

  .reset--user__password {
    width: 55%;
  }
}

// ************************************** //
// *****     800PX BREAKPOINT      ***** //
// ************************************** //

@media (max-width: 800px) {
  .report--items {
    .report--item {
      width: 100%;
    }
  }

  .reset--user__password {
    width: 75%;
  }
}

// ************************************** //
// *****     500PX BREAKPOINT      ***** //
// ************************************** //

@media (max-width: 500px) {
  .reset--user__password {
    width: 95%;
  }
}
